.logo {
  font-family : Helvetica, sans-serif;
  color : #FFB74D;
  background-color: #69F0AE;
}
body{
 background-color: #C57859;

}
.textbody {
  font-family: Gill Sans, sans-serif;
  color: #FFB74D
}
.text {
  font-family: Palatino, serif;
  font-color: #263238;
}
.data {
  font-family: Fjalla+One;
  color: #3E2723;
}
.pallet4{
  background-color: #263238;
}
.pallet3 {
  background-color : #3E2723;
}
.pallet2 {
 background-color:  #FFB74D;
}
.pallet1{
  background-color: #69F0AE
}
